@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  height: 10px; /* 스크롤바의 높이 */
}

::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: gray; /* 스크롤바의 색상 */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /*스크롤바 뒷 배경 색상*/
  border-radius: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
